* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: red;
  }

  @font-face {
    font-family: rdr2font;
    src: url("fonts/CHINESER.TTF") format("opentype");
  }

  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    text-shadow: 0 0 3px white;
  }
  
  a:hover {
    opacity: 0.7;
    color: red;
    text-shadow: 0 0 3px red;
  }
  
  .logo {
    position: absolute;
    left: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #000000;
    height: 10vh;
    font-family: rdr2font;
    font-size: 23;
  }
  
  main {
    background: url("img/redwallpaper2.jpg") no-repeat center center;
    background-size: cover;
    height: 120vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
  }

  .footer ul li {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .sinopseall {
    width: 100%;
    position: absolute;
    top: 945px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.1;
  }

  .sinopse {
    color: white;
    line-height: 3;
    width: 600px;
    font-size: 35px;
    font-family: rdr2font;
    text-shadow: 0 0 2px white;
    text-align: center;
  }

  .sinopse2 {
    color: white;
    width: 600px;
    font-size: 19px;
    font-family: rdr2font;
    text-shadow: 0 0 2px white;
    letter-spacing: 1px;
    text-align: center;
  }

  .sinopse3 {
    color: white;
    width: 610px;
    font-size: 19px;
    font-family: rdr2font;
    text-shadow: 0 0 2px white;
    letter-spacing: 1px;
    text-align: center;
  }

  .footer {
    padding: 170px 0 0;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 0);
  }

  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;

  }

  .footer .social a {
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
  }

  .footer .social a:hover {
    opacity: 1;
  }

  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  }

  .footer ul a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.5s;
    font-family: rdr2font;
  }
  .footer ul a:hover {
    opacity: 1;
    color: #c70000;
    text-shadow: 0 0 3px #c70000;
  }

  .footer ul li {
    display: inline-block;
    padding: 0 15px; 
  }

  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }
  
  .footer .alert {
    margin-top: 17px;
    text-align: center;
    font-size: 12px;
    color: #aaa;
  }